/*  FONTS*/
.cherry-bomb-one-regular {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
}


/*  HTML  */
html{
    background: linear-gradient(180deg, #530570, #2096cd);
}

/*  BODY  */
body{
  position: relative;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    font-size: calc(1em + 0.390625vw);
}


/*  HEADER  */
header{
    display: flex;
    justify-content: center;
    align-items: center;


}

h1{
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);

  font-size: 5em;
  color: #fbfafb;
  opacity: 0.8;
  font-family: "Cherry Bomb One", system-ui;
  word-wrap: break-word;
  text-align: center;

  -webkit-animation: glow 5s ease-in infinite alternate;
  -moz-animation: glow 5s ease-in infinite alternate;
  animation: glow 5s ease-in infinite alternate;
  
}


/*  CANVAS  */
canvas {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
}


/*  ANIMATION  */

/* Make the title "Dewdrop Heaven" glow  */
/* ref: https://www.w3schools.com/howto/howto_css_glowing_text.asp */

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 80px #e27ab7, 0 0 80px #e27ab7, 0 0 90px #e27ab7, 0 0 100px #e27ab7, 0 0 100px #e27ab7;
  }
  to {
    text-shadow:  0 0 70px #e27ab7, 0 0 80px #e27ab7, 0 0 90px #e27ab7, 0 0 100px #e27ab7, 0 0 110px #e27ab7, 0 0 120px #e27ab7;
  }
}

